@import "tailwindcss";

@utility screen {
  @apply w-screen h-screen;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@plugin "daisyui" {
  themes: my --default;
  logs: false;
}

@plugin "daisyui/theme" {
  name: "my";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(87% 0.01 258.338);
  --color-base-content: oklch(27% 0.033 256.848);
  --color-primary: oklch(80% 0.105 251.813);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(91% 0.096 180.426);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(92% 0.12 95.746);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}
